.meatInfoContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: white;
}

.meatInfo__input {
  height: 90vh;
  overflow: hidden;
  width: 50%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.meatInfo__input::-webkit-scrollbar {
  width: 0px;
}

.uploads {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(221, 32, 32);
  cursor: pointer;
}

/* .noUploads {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(202, 199, 199);
} */

.input__basicInfo,
.input__radarChart,
.input__descriptionContainer,
.input__starRatingContainer {
  width: 60%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.input__descriptionContainer {
  margin-bottom: 20px;
}

.input__basicInfo .input__basicInfoHeader,
.input__radarChart .input__radarChartHeader,
.input__descriptionContainer .input__descriptionHeader,
.input__starRatingContainer .input__starRatingHeader {
  background-color: rgb(114, 17, 17);
  margin-bottom: 8px;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  font-size: 24px;
  padding: 5px;
}

.input__basicInfo div:not(:first-child),
.input__radarChart div:not(:first-child),
.input__description,
.input__starRatingContainer div {
  font-size: 12px;
}

.input__basicInfo div:not(:first-child) {
  margin-top: 8px;
}

.input__description textarea {
  width: 98%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.input__radarChartItems {
  display: flex;
}

.input__radarChartItems div {
  width: 20%;
}

.input__basicInfo div input:not(:first-child),
.input__basicInfo div div select,
.input__basicInfo div select {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 3px rgb(211, 210, 210);
}

.input__starRating input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  margin-right: 2px;
}

.saveButton {
  background-color: rgb(114, 17, 17);
  box-shadow: 0px 0px 5px grey;
  color: white;
  font-weight: 1000;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  /* width: 370px; */
  width: 57%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.saveButton:hover {
  box-shadow: 3px 3px 5px grey;
}

.saveBtnInner {
  display: flex;
  align-items: center;
  gap: 5px;
}

.loader {
  pointer-events: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  animation: an1 1s ease infinite;
}

@keyframes an1 {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.delete {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  cursor: pointer;
  color: rgb(114, 17, 17);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.meatInfo__outputContainer {
  background-color: rgb(219, 218, 218);
  height: inherit;
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Try Grid */
.meatInfo__outputSetSize {
  display: flex;
  justify-content: center;
}

.meatInfo__output {
  min-height: 500px;
  min-width: 500px;
  width: 80%;
  height: 75%;
  display: grid;
  grid-template-rows: minmax(350px, 6.3fr) minmax(130px, 3.3fr);
  row-gap: 5px;
  grid-template-columns: minmax(180px, 3fr) minmax(300px, 6.7fr);
  grid-template-areas:
    "info rating"
    "description description";
  background-color: white;
  justify-content: center;
  align-items: center;
}

.output__mainInfoContainer {
  grid-area: info;
  background-color: rgb(114, 17, 17);
  height: 100%;
  width: 100%;
}

.output__radarChart {
  grid-area: rating;
  height: 100%;
  width: 100%;
}

.output__description {
  grid-area: description;
  justify-self: start;
  align-self: start;
  margin-left: 5px;
  margin-right: 5px;
  width: 98%;
}

/* End try */

/* .meatInfo__outputSetSize {
  display: flex;
  justify-content: center; */
/* align-items: center; */
/* height: 500px;
  width: 500px; */
/*Start: Dynamic 1:1 aspect for w x h*/
/* width: 80%;
  height: 80%; */
/*End: Dynamic 1:1 aspect for w x h*/
/* } */

/* .meatInfo__output {
  background-color: white;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
} */

/* .output__mainInfoAndRadar {
  display: flex;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  justify-content: space-around;
} */

/* .output__mainInfo {
  background-color: rgb(114, 17, 17);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 340px;
  width: 32%;
  padding: 10px;
  box-sizing: border-box;
} */

.output__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.output__image img {
  width: 100%;
}

.output__textInfo {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.output__textInfo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output__textInfo div:not(:first-child) {
  margin-top: 5px;
}

.output__textInfo div svg {
  width: 15%;
}

.output__textInfo div path {
  stroke: white;
}

.output__textInfo div span:not(.output__resto span),
.output__textInfo div span:not(.output__name) {
  width: 80%;
  font-size: 14px;
}

.output__name {
  font-size: 16px;
  font-weight: 700;
}

.output__resto span {
  font-size: 12px;
  width: 80%;
  color: rgb(206, 202, 202);
}

.output__starRating {
  margin-left: 5px;
}

.output__starRating span {
  margin-left: 5px;
}

.output__radarChart div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output__radarChart div canvas {
  width: unset;
  height: unset;
}

@media screen and (max-width: 1050px) {
  .meatInfo__input {
    flex-grow: 1;
  }
  .meatInfo__outputContainer {
    width: 510px;
  }
  .input__basicInfo,
  .input__radarChart,
  .input__descriptionContainer,
  .input__starRatingContainer {
    width: 90%;
  }
  .saveButton {
    width: 85%;
  }
}

@media screen and (max-width: 850px) {
  .meatInfo__input {
    width: 100%;
    z-index: 1000;
    background-color: white;
  }
  .meatInfo__outputContainer {
    width: 0px;
  }
  .meatInfo__output {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 640px) {
  .input__radarChartItems div {
    display: block;
  }
}
