.HomePageContainer {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* padding-top: 60px; */
  position: fixed;
  /* position: relative; */
  background-image: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.8),
      rgba(39, 39, 39, 0.8)
    ),
    url("../../assets/images/HomeBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-y: hidden;
}

.HomePageContainer__general {
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  top: 60;
  left: 0;
}

.searchBarContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foodGalleryContainer {
  margin-top: 80px;
  width: 95%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
}

.foodGalleryContainer div {
  width: 45%;
}

.foodGalleryContainer div div {
  width: 100%;
  box-sizing: border-box;
}

.foodGalleryContainer::-webkit-scrollbar {
  width: 5px;
}

.HomePageContainer__signIn {
  width: 55%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .HomePageContainer__signInBtn {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  border: 2px solid #fc2f70;
}

.HomePageContainer__signInBtn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fc2f70;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.HomePageContainer__signInBtn:hover {
  cursor: pointer;
}

.HomePageContainer__signInBtn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
} */
