.HomePageContainer {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  overflow-y: hidden;
}

.HomePageContainer__general {
  width: 58%;
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.searchBarContainer {
  height: fit-content;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.foodGalleryContainer {
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
}

.foodGalleryContainer div {
  width: 29%;
}

.foodGalleryContainer div div {
  width: 100%;
  box-sizing: border-box;
}

.foodGalleryContainer::-webkit-scrollbar {
  width: 5px;
}

.noMatch {
  color: white;
  min-width: fit-content;
}

.HomePageContainer__maps {
  width: 40%;
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .foodGalleryContainer {
    gap: 10px;
  }
  .foodGalleryContainer div {
    width: 45%;
  }
  .searchBarContainer {
    height: fit-content;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 800px) {
  .HomePageContainer__general {
    width: 100%;
  }
  .foodGalleryContainer div {
    width: 30%;
  }
  .HomePageContainer__maps {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .foodGalleryContainer div {
    width: 45%;
  }
}

@media screen and (max-width: 450px) {
  .foodGalleryContainer div {
    width: 90%;
  }
  .searchBarContainer {
    gap: 5px;
  }
}
