.HomePageContainer {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  background-image: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.8),
      rgba(39, 39, 39, 0.8)
    ),
    url("../../assets/images/HomeBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-y: hidden;
}

.HomePageContainer__general {
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  top: 60;
  left: 0;
}

.searchBarContainer {
  /* width: 89.1%; */
  /* width: 600px; */
  margin-top: 10px;
  /* padding-left: 20px; */
  /* width: fit-content; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.foodGalleryContainer {
  margin-top: 80px;
  width: 95%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* justify-content: space-evenly; */
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
}

.foodGalleryContainer div {
  width: 45%;
}

.foodGalleryContainer div div {
  width: 100%;
  box-sizing: border-box;
}

.foodGalleryContainer::-webkit-scrollbar {
  width: 5px;
}

.noMatch {
  color: white;
}

.HomePageContainer__maps {
  width: 55%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
