/* Modal Basic Styling */
body.active-modal {
  overflow-y: hidden;
}

.modal,
.modal__overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.726);
}

.modal .modal__content {
  width: fit-content;
  color: black;
  background-color: rgba(255, 255, 255, 0.904);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.modal__closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: right;
  z-index: 100;
}

.modal__closeButton svg {
  cursor: pointer;
}

.modal__outputImage,
.modal__outputContent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-height: 70vh;
  max-width: 900px;
}

.modal__title {
  font-size: 700;
  margin-bottom: 10px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__content input {
  padding: 10px;
  margin-top: 5px;
}

.modal__buttons {
  display: flex;
  gap: 20px;
  height: 50px;
  align-items: flex-end;
}

.modal__submitButton {
  border: 1px solid black;
  background-color: rgb(114, 17, 17);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.modal__clearButton {
  border: 1px solid rgb(114, 17, 17);
  background-color: white;
  color: rgb(114, 17, 17);
  font-weight: 700;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.modal__submitButton:hover,
.modal__clearButton:hover {
  box-shadow: 2px 2px 3px grey;
}

.positive {
  font-size: 20px;
  color: green;
}

.neutral {
  font-size: 20px;
  color: black;
}

.negative {
  font-size: 20px;
  color: red;
}

/* Nav Bar SignIn & SignUp Styling */
.nav__signUp,
.nav__signIn {
  position: relative;
  cursor: pointer;
}

.nav__signUp::before,
.nav__signIn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(114, 17, 17);
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav__signUp:hover::before,
.nav__signIn:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.nav__signUp:hover,
.nav__signIn:hover {
  cursor: pointer;
}

.signInSignUp {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FoodGallery Home Page Basic Styling */
.imageContainer {
  height: 500px;
  width: 500px;
  padding: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

/* FoodGallery Collection Page Additional Styling */
.furtherAction {
  background-color: rgb(114, 17, 17);
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

.furtherAction div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  height: inherit;
  border-radius: 5px;
}

.viewCollectorBtn__inactive {
  background-color: #737070;
  pointer-events: none;
}

.viewCollectorBtn:hover,
.deleteBtn:hover,
.exportBtn:hover,
.editBtn:hover {
  background-color: rgb(91, 14, 14);
}

/* Search Bar Filter Styling */
.filterIcon {
  background-color: rgba(255, 255, 255, 0.196);
  border: 1px solid rgb(212, 208, 208);
  color: rgba(255, 255, 255, 0.635);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 40px;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
  padding: 0px 8px;
}

.filterIcon svg {
  height: 50%;
}

.filterIconText {
  font-size: 14.5px;
  white-space: nowrap;
}

.filterIcon:hover {
  color: white;
}

.modal__filterContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.modal__filterInner {
  display: flex;
  width: 800px;
  height: 400px;
}

.modal__filterCollector {
  display: flex;
  align-items: center;
}

.modal__filterLeft {
  flex: none;
  width: 50%;
  position: relative;
}

.modal__filterRight {
  flex: none;
  width: 50%;
}

.modal__RightFilters {
  height: 80%;
}

.modal__filterFields {
  font-weight: 700;
}

.modal__filterOptions {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal__filterOptions div label:hover {
  cursor: pointer;
}

.modal__part {
  display: flex;
  flex-wrap: wrap;
}

.modal__doneness label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal__part label {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal__cusine label,
.inactive {
  border: 1.5px solid rgb(91, 14, 14);
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 8px;
}

.active {
  background-color: rgb(91, 14, 14);
  color: white;
}

.modal__filterInner input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 2px;
  width: 2px;
  background-color: rgba(182, 181, 181, 0.66);
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__filterInner input[type="checkbox"]:hover {
  background-color: rgb(146, 145, 145);
}

.modal__filterInner input[type="checkbox"]:checked {
  background-color: rgb(91, 14, 14);
}

.modal__filterInner input[type="radio"] {
  display: none;
}

.modal__filterInner input[type="radio"]:checked {
  background-color: rgb(91, 14, 14);
  color: white;
  font-weight: 700;
}

.modal__priceRange {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(91, 14, 14);
  font-weight: 700;
}

.slider {
  width: 95%;
  max-width: 95%;
  height: 13px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.slider .track {
  margin-top: 20px;

  border-radius: 20px;
  height: 10px;
  background: rgb(91, 14, 14);
}

.slider .thumb {
  margin-top: 15px;
  width: 20px;
  height: 20px;
  background: white;
  box-shadow: 0px 0px 3px grey;
  border-radius: 50%;
  cursor: grab;
}

/* .track .track-1 {
  background: rgb(91, 14, 14);
}

.track .track-0,
.track .track-2 {
  background: #ececed;
} */

.mark {
  margin-top: 23px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(239, 238, 238);
}

#collector {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .nav__signIn {
    margin-left: 10px;
  }
  .filterIcon {
    height: 35px;
  }
  .filterIconText {
    display: none;
  }
  .modal__filterInner {
    width: 280px;
    height: 350px;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .modal__filterLeft,
  .modal__filterRight {
    width: 100%;
  }
  .modal__filterInner::-webkit-scrollbar {
    width: 0px;
  }
  .modal__cusine {
    font-size: 12px;
  }
  .modal__cusine label {
    padding: 5px 8px;
    margin-right: 5px;
  }
}
