/* Modal Basic Styling */
body.active-modal {
  overflow-y: hidden;
}

.modal__outputImage {
  width: 400px;
  height: 400px;
}

.modal,
.modal__overlay {
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__overlay {
  /* background-color: rgba(255, 255, 255, 0.71); */
  background-color: rgba(0, 0, 0, 0.639);
}

.modal .modal__content {
  width: fit-content;
  color: black;
  background-color: white;
  /* position: absolute;
  top: 30%; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal__closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  text-align: right;
}

.modal__title {
  font-size: 700;
  margin-bottom: 10px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__content input {
  padding: 10px;
  margin-top: 5px;
}

.modal__buttons {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  height: 50px;
  align-items: flex-end;
  /* position: absolute;
  bottom: 20px; */
}

.modal__submitButton {
  border: 1px solid black;
  background-color: rgb(114, 17, 17);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.modal__clearButton {
  border: 1px solid rgb(114, 17, 17);
  background-color: white;
  color: rgb(114, 17, 17);
  font-weight: 700;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.modal__submitButton:hover,
.modal__clearButton:hover {
  box-shadow: 2px 2px 3px grey;
}

.positive {
  font-size: 20px;
  color: green;
}

.neutral {
  font-size: 20px;
  color: black;
}

.negative {
  font-size: 20px;
  color: red;
}

/* Nav Bar SignIn & SignUp Styling */
.nav__signUp {
  position: relative;
  cursor: pointer;
}

.nav__signUp::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(114, 17, 17);
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav__signUp:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.nav__signUp:hover {
  cursor: pointer;
}

.signInSignUp {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FoodGallery Home Page Basic Styling */
.imageContainer {
  height: 500px;
  width: 500px;
  padding: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

/* FoodGallery Collection Page Additional Styling */
.furtherAction {
  background-color: rgb(114, 17, 17);
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

.furtherAction div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  height: inherit;
  border-radius: 5px;
}

.furtherAction div:hover {
  background-color: rgb(91, 14, 14);
}

/* Search Bar Filter Styling */
.filterIcon {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(114, 17, 17);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: black;
  cursor: pointer;
}

.filterIcon svg {
  width: 50%;
  height: 50%;
}

/* .modal__filter {
  padding: 15px;
} */

.modal__filterContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.modal__filterInner {
  display: flex;
  width: 800px;
  height: 400px;
}

.modal__filterCollector {
  display: flex;
  align-items: center;
}

.modal__filterLeft {
  flex: none;
  width: 50%;
  position: relative;
}

.modal__filterRight {
  flex: none;
  width: 50%;
}

.modal__RightFilters {
  height: 80%;
}

.modal__filterFields {
  font-weight: 700;
  /* margin-top: 30px; */
}

.modal__filterOptions {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal__filterOptions div label:hover {
  cursor: pointer;
}

.modal__part {
  display: flex;
  flex-wrap: wrap;
}

.modal__doneness label {
  width: 100%;
  /* margin-bottom: 5px; */
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal__part label {
  width: 50%;
  /* margin-bottom: 5px; */
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal__cusine label,
.inactive {
  border: 1.5px solid rgb(91, 14, 14);
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 8px;
}

.active {
  background-color: rgb(91, 14, 14);
  color: white;
}

.modal__filterInner input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 2px;
  width: 2px;
  background-color: rgba(128, 128, 128, 0.395);
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__filterInner input[type="checkbox"]:after {
  background-color: rgba(128, 128, 128, 0.395);
  /* content: "Y"; */
  font-size: 15px;
  font-weight: 300;
  color: white;
  display: none;
}

.modal__filterInner input[type="checkbox"] content {
  background-color: transparent;
}

.modal__filterInner input[type="checkbox"]:hover {
  background-color: rgba(32, 32, 32, 0.432);
}

.modal__filterInner input[type="checkbox"]:checked {
  background-color: rgb(91, 14, 14);
}

.modal__filterInner input[type="checkbox"]:checked:after {
  display: block;
  background-color: rgba(128, 128, 128, 0.395);
}

.modal__filterInner input[type="radio"] {
  display: none;
}

.modal__filterInner input[type="radio"]:checked {
  background-color: rgb(91, 14, 14);
  color: white;
  font-weight: 700;
}
