.nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

.nav__companyName {
  font-weight: 1000;
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__companyName img {
  height: inherit;
  width: 50px;
}

.nav__companyName a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-right: 15px;
  font-weight: 500;
}

.nav__signUp {
  position: relative;
  cursor: pointer;
}

.nav__signUp::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(114, 17, 17);
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav__signUp:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.nav__signUp:hover {
  cursor: pointer;
}

.userAction {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userAction a {
  width: 200px;
  border: 2px solid rgb(114, 17, 17);
  border-radius: 5px;
}

.collectionGallery__create {
  border: 2px solid rgb(114, 17, 17);
  background-color: rgb(255, 255, 255);
  color: rgb(114, 17, 17);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  cursor: pointer;
  height: 50px;
}

.collectionGallery__create span {
  margin-left: 5px;
}

.collectionGallery__create:hover {
  border: 2px solid white;
  background-color: rgb(114, 17, 17);
  color: white;
}

.menu {
  position: relative;
}

.menu__btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu__btn svg {
  width: 80%;
  height: 80%;
}

.menu__dropDown {
  display: none;
  background-color: rgb(114, 17, 17);
  z-index: 1000;
  position: absolute;
  right: 0px;
  min-width: 120px;
}

.menu__dropDown div {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.menu__dropDown svg {
  margin-right: 5px;
}

.menu:hover .menu__dropDown {
  display: block;
}

.menu__dropDown div:hover {
  background-color: white;
  color: rgb(114, 17, 17);
}

@media screen and (max-width: 1000px) {
  .nav__user {
    gap: 5px;
  }
  .userAction {
    height: 60px;
  }
  .collectionGallery__create {
    font-size: 14px;
    height: 50px;
    box-sizing: border-box;
  }
  .userAction a {
    width: 60px;
    border: 0px;
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 640px) {
  .nav__user {
    font-size: 15px;
    gap: 13px;
  }
  .nav__companyName div {
    display: none;
  }
  .collectionGallery__create {
    font-size: 14px;
    height: 50px;
    box-sizing: border-box;
  }
  .collectionGallery__create span {
    display: none;
  }
}
